nav{
    display: flex;
    border-bottom: 2px solid gray;
    margin-bottom: 1%;
    padding-bottom: 1%;
}
.brand{
    display: flex;
}
.brand img{
    width: 5%;
}
.brand h2{
    margin-top: .5%;
    font-size: 250%;
}
section{
    
}