img{
    width: 10%;
    border-radius: 50%;
    vertical-align: middle;
}
.userinfo{
    margin-top: 3%;
}
.row{
    display: flex;
}
a{
    color: #DAC8FA;
    text-decoration: none;
}
span{
    margin-right: 2%;
}