<div>
    <div class="row">
        <img src="{{defaultUser.avatar}}" alt="Display photo">
        <div class="userinfo">
            <h2>{{defaultUser.name}}</h2>
            <h4><a href="{{userLink}}">{{defaultUser.login}}</a></h4>
        </div>
    </div>
    <div class="row">
        <p>{{defaultUser.bio}}</p>
    </div>
    <div class="row">
        <span>Followers: {{defaultUser.followers}}</span>
        <span>Following: {{defaultUser.following}}</span>
    </div>
    <div class="row">
        <span>Public Repositories: {{defaultUser.repos}}</span>
        <span>Public Gists: {{defaultUser.gists}}</span>
    </div>
</div>