/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #332f3b;
    color: #DAC8FA;
    font-family: 'Itim', cursive;
    /* position: relative;
    width: 80%;
    left: 10%; */
}